@use 'variables';

.dragons {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 20px;
  padding: 50px;

  &-description {
    max-width: 100%;
    padding: 20px;
  }

  &-cards {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
  }

  .card {
    position: absolute;
    width: 320px;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid variables.$mainTextColor;
    transition: transform 0.5s ease, z-index 0.3s ease;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, transparent 10%, variables.$background_card_color 50%);
      z-index: 0;
    }

    .card-description {
      position: absolute;
      top: 0;
      right: 0;
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 20px;
      z-index: 2;

      h2 {
        margin-bottom: 10px;
      }
    }
  }

  // Posicionamento Dinâmico
  .card--1 {
    transform: translateX(-50%) scale(0.8);
    z-index: 1;

    &:hover {
      transform: translateX(-50%) scale(0.9);
      z-index: 10;
    }
  }

  .card--2 {
    transform: translateX(0%) scale(0.9);
    z-index: 2;

    &:hover {
      transform: translateX(0%) scale(1);
      z-index: 10;
    }
  }

  .card--3 {
    transform: translateX(50%) scale(1);
    z-index: 3;

    &:hover {
      transform: translateX(50%) scale(1.1);
      z-index: 10;
    }
  }
}

// Responsividade
@media (max-width: 1024px) {
  .dragons {
    grid-template-columns: 1fr;
    height: 100%;


    &-cards {
      position: relative;
      display: flex;
      align-items: top;
      justify-content: center;
      height: 360px;
      width: 100%;


      .card {
        width: 300px;
      }
    }
  }
}

@media (max-width: 720px) {
  .dragons-cards {
    flex-direction: column;
    gap: 15px;
    height: 400px;

    .card {
      width: 250px;

      &-description {
        padding: 10px;
        width: 65%;
      }
    }

    .card--1 {
      transform: translate(-15%, -15%) scale(0.7);
      z-index: 1;

      &:hover {
        transform: translate(-15%, -15%) scale(0.8);
        z-index: 10;
      }
    }

    .card--2 {
      transform: translate(0%, 0%) scale(0.8);
      z-index: 2;

      &:hover {
        transform: translate(0%, 0%) scale(0.9);
        z-index: 10;
      }
    }

    .card--3 {
      transform: translate(15%, 15%) scale(0.9);
      z-index: 3;

      &:hover {
        transform: translate(15%, 15%) scale(1);
        z-index: 10;
      }
    }
  }
}