@use 'variables';

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, transparent, variables.$background_card_color 40%);
    padding: 5% 2%;
    
    img {
        width: 100%;
        max-width: 250px;
        margin-top: 10px;
        height: auto;
        border-radius: 10px;
    }

    p {
        margin: 50px 10px;
        text-align: center;
    }

    .links {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;

        a {
            display: flex;
            align-items: center;
            color: variables.$normalSmallTextColor;
            transition: color 0.3s;

            &:hover {
                color: variables.$textLinkColor;
            }

            img {
                width: 30px;
                height: auto;
                margin-bottom: 6px;
                margin-right: 6px;
            }
        }
    }
}