$background_color: #020106;
$mainTextColor: #C57B56;
$normalTextColor: #F4F1DE;
$normalSmallTextColor: #AAAAAA;
$textLinkColor: #1E90FF;
$background_button_color: #111A24;
$background_hover_button_color: #162642;
$background_card_color: #181818;