// Importação de módulos
@use 'variables';
@use 'hero';
@use 'history';
@use 'houses';
@use 'characters';
@use 'dragons';
@use 'maxHbo';
@use 'footer';

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.65px;
    background-color: variables.$background_color;
    color: variables.$normalTextColor;
}

.container {
    padding: 2% 5%;
    margin: 0 auto;
    max-width: 1600px;
}

@mixin title($fontSize: 24px, $color: variables.$mainTextColor, $weight: 400) {
    font-family: "Cinzel Decorative", serif;
    font-size: $fontSize;
    font-weight: $weight;
    font-style: normal;
    color: $color;
}

@mixin text($fontSize: 12px, $color: variables.$normalTextColor, $weight: 300) {
    font-size: $fontSize;
    font-family: "Merriweather", serif;
    font-weight: $weight;
    letter-spacing: 0.65px;
    color: $color;
}

.title {
    @include title();
}

.title--small {
    @include title(16px);
}

.text {
    @include text();
}

.text--small {
    @include text(12px);
}

.text--small--footer {
    @include text(12px, variables.$normalSmallTextColor);
}

.text--link {
    @include text(12px, variables.$textLinkColor, 400);
    text-decoration: underline;
    cursor: pointer;
}

// Estilo para parágrafos
p {
    @include text();
}

// Estilo para cabeçalhos
h1 {
    @include title();
}

// Responsividade
@media (max-width: 768px) {
    body {
        font-size: 10px;
    }

    .container {
        padding: 8%;
        max-width: 100%;
    }

    .title {
        @include title(20px);
    }

    .text {
        @include text(9px);
    }
}

@media (max-width: 480px) {
    body {
        font-size: 13px;
    }

    .container {
        padding: 6%;
    }

    .title {
        @include title(18px);
    }

    .text {
        @include text(px, variables.$normalTextColor, 300);
    }
}